{% extends "base_print.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="pull-right">
        <input type="button" onclick="printDiv('printableArea')" value="Imprimir" class="btn btn-primary"/>
        <a href="/admin/app/attendee/{{ object.attendee.id }}" class="btn btn-info">Regresar a la ficha del participante</a>
    </div>
</div>
<div class="container internal" id="printableArea">
  <div class="row">
    <div class="col-sm-10">

    {% if object.event.logo %}
        <img src="{% thumbnail object.event.logo 100x100 crop %}" />
    {% endif %}
      <div class="col-md-6">
          <h1>Recibo oficial de caja</h1>
      </div>
      <div class="col-md-6">
        <div class="pull-right">Fecha: {{ object.date }}</div>
      </div>
      <br clear="all" />
      <div class="contanido">
	  <table class="table table-striped" width="75%">
              <tr><td colspan=2 class="text-right">Recibo #: </td><td>{{ object.id }}</td></tr>
              <tr><td>Recibimos de: </td><td>{{ object.attendee.full_name }} participante #{{ object.attendee.id }}</td></tr>
              <tr><td nowrap>La cantidad de: </td><td>${{ object.attendee.price }}</td></tr>
              <tr><td nowrap>En concepto de:</td><td>Cancelación por {% if object.attendee.main %}asistencia al congreso {% endif %} {% if object.attendee.main and object.attendee.extra%} y {% endif %}{% if object.attendee.extra%}asistencia al precongreso{% endif %} "{{ object.attendee.event }}" y participación como "{{ object.attendee.type}}"</td></tr>
              {% if object.name %}<tr><td>{{ object.name }}</td></tr>{% endif %}
              <tr><td colspan=2 class="text-left">Detalle de pagos realizados:</td></tr>
	      <tr><td colspan=2">
            	<ul>
                {% for row in object.attendee.payments.all %}
                <li>{{ row.date }}: {{ row.payment_method }}: {{ row.amount}} {% if row.note %}{{ row.note }}{% endif %}</li>
                {% endfor %}
                </ul>
	      </td></tr>
         </table>
       </div>
       <div style="margin-top: 120px;"></div>
       <div class="col-md-3" style="border-top: 1px solid #000;margin-right:80px;">Recibi conforme</div>
       <div class="col-md-3" style="border-top: 1px solid #000;">Entregue conforme</div>
    <div>
  </div>
</div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Profile</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

