{% extends "base_print.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ object.event }}{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="pull-right">
        <input type="button" onclick="printDiv('printableArea')" value="Imprimir" class="btn btn-primary"/>
        <a href="/admin/app/attendee/{{ object.id }}" class="btn btn-info">Regresar a la ficha del participante</a>
    </div>
</div>
<div class="container internal"  id="printableArea">
  <div class="row">
    <div class="col-sm-8">

    {% if object.event.logo %}
        <img src="{% thumbnail object.event.logo 100x100 %}" class="pull-left"/>
    {% endif %}
    <h2>{{ object.event }}</h2>
    <div class="clear"></div>
    {% if object.name %}
      <p>{{ object.name }}</p>
    {% endif %}
    <div class="separador2"></div>
    <div class="contenido col-md-9">  
        <table class="table condensed">
            <tr class="active">
                <td><h3>Información general</h3></td>
                <td class="text-right"><h3>Código: {{ object.id }}</h3></td>
            <tr>
            <tr><td>Nombre: </td><td><h4>{{ object.first_name }} {{ object.last_name }}</h4></td>
            <tr><td>Tipo de inscripción:</td><td> {{ object.type }}</td></tr>
            <tr><td>Fecha de inscripción:</td><td> {{ object.date_joined }}</td></tr>
            <tr><td>Profesión: </td><td>{{ object.profession }}</td></tr>
            <tr><td>País:</td><td> {{ object.country.name }}</td></tr>
            {%if  object.phone %}
                <tr><td>Teléfono:</td><td> {{ object.phone }}</td></tr>
            {% endif %}
            <tr><td>Correo:</td><td> {{ object.email }}</td></tr>
            <tr><td>Patrocinado:</td><td> {% if object.sponsored %}Si{% else %}No{% endif %}</td></tr>
            {%if object.sponsored %}
                <tr><td>
                  <p>Patrocinador: {{ object.sponsor }}</p>
                </td></tr>
            {% endif %}
            {% comment %}
            {% if object.activities.all %}
                <tr><td colspan="2" class="active"><h3>{{ object.event.activities_label }}</h3></td></tr>
                <tr><td colspan="2">
                    <ul>    
                        {% for row in object.activities.all %}
                        <li>{{ row.name }}</li>
                        {% endfor %}
                    </ul>
                </td></tr>
            {% endif %}
            {% endcomment %}
            <tr><td colspan="2" class="active"><h3>Información de pago</h3></td></tr>
            <tr><td>En concepto de:</td><td>{% if object.main %}Asistencia al congreso {% endif %} {% if object.main and object.extra%} y {% endif %}{% if object.extra%}Asistencia al precongreso{% endif %}</td></tr>
            {% if object.balance == 0 %}<tr><td>Fecha de cancelación:</td><td>{{object.payments.last.date}}</td></tr>{% endif %}
            {% if object.balance == 0 %}
                <tr class="danger"><td>Total cancelado:</td><td>{{object.paid}}</td></tr>
            {% else %}
                <tr><td>Costo de inscripción:</td><td>{{object.total_price }}</td></tr>
                <tr><td>Monto abonado:</td><td>{{object.paid }}</td></tr>
                <tr class="danger"><td><strong>Saldo:</strong></td><td><strong>{{object.balance }}</strong></td></tr>
            {% endif %}
            <tr><td>Detalle de pagos realizados:</td><td> 
                {% if object.payments.all %}
                    <ul>
                        {% for row in object.payments.all %}
                        <li>{{ row.date }}: {{ row.amount}} -  {{ row.payment_method }} {% if row.note %}{{ row.note }}{% endif %}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay pagos registrados de este participante</p>
                {% endif %}
            </td></tr>
        </table>
        <div class="separador2"></div>
        <div class="col-md-12"><div class="firma">Firma del participante</div></div>
        {% if object.photo %}
        <!-- <img src="{% thumbnail object.photo 250x250 crop %}" /> -->
        {% endif %}
        <!-- <p><a href="{% url 'users:badge' username=object.username %}">Gafete PNG</a></p> -->
        </div>
     </div>
  </div>
</div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Profile</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

