{% load i18n %}
<div class="submit-row clearfix">
  {% if opts.model_name == 'attendee' %}
    <button type="submit" name="_continue" class=" btn btn-high btn-primary">{% trans 'Grabar y Actualizar precio' %}</button>
  {% else %}
    {% if show_save %}<button type="submit" class="btn btn-high btn-info" name="_save">{% trans 'Save' %}</button>{% endif %}
    <button type="submit" name="_continue" class=" btn btn-high">{% trans 'Save and continue editing' %}</button>
  {% endif %}
  {% if show_save_as_new %}<button type="submit" name="_saveasnew" class="btn">{% trans 'Save as new' %}</button>{%endif%}
  {% if show_save_and_add_another %}<button type="submit" name="_addanother" class="btn">{% trans 'Save and add another' %}</button>{% endif %}

  {% if show_delete_link %}<a href="delete/" class="text-error deletelink">{% trans "Delete" %}</a>
  {% endif %}
</div>
