{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans "Verify Your E-mail Address" %}</h2>
        
        <p>{% blocktrans %}Le hemos enviado un correo de verificación. Siga el enlace proporcionado para finalizar el proceso de registro. Póngase en contacto con nosotros si usted no lo recibe en pocos minutos. {% endblocktrans %}</p>
    </div>    
  </div>
</div>

{% endblock %}
